.banner{
    text-align: center;
    font-size: 5vw;
    margin:auto;
    height: 150px;
    background-color: cornflowerblue;
}

.row {
    height: 200px;
}

.logo{
    position: relative;
    bottom: 0px;
    right: 0px;
}