.carousel-inner > .item > img {
    min-width: 200px;
    height: 90%;
    width: 300px;
    top: 70px;
    left: 42%;
  }

  .carousel .item{
      background-color: #f4beda !important;
  }

  footer{
      position: fixed;
      bottom: 0;
  }